*{
    box-sizing: border-box;
}
body{
    width: 70%;
    margin: 0 auto;
    font-family: Arial;
    
}
.row{
    display: flex;
    
}
.titulo{
    font-family: Arial;
    color: rgb(31, 143, 104);
    font-size: 30px;
    position: static;
    width: 60%;
    height:320px;
}
.mobile{
    font-family: Arial;
    color: black;
    font-size: large;
    position: static;
    text-align: justify;
    margin-left: 1%;
    margin-top: 5%;
    
}
.column-1{
    width: 100%;
    
    
}
.idea{
    display: flex;
    flex-direction:column-reverse;
    background-color: black;
    color: white;
}
.column-2{
    width: 50%;
}
.img1{
    width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    margin-right: 20px;
    margin-left: 15%; 
    
}
.img2{
    width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    margin-right: 20px;
    margin-left: 15%;
}
.img3{
    width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    margin-right: 20px;
    margin-left: 15%;
}
.column-4{
    width: 25%;
    background-color: black;
    color: white;
    font-size: 11px;
}
.column-3{
    width: 33.33%;
    background-color: cyan;
}
.margin{
    margin-left: 0%;
}
.margen{
    margin-left: 3%;
    margin-right: 10%;
}
.p1{
font-size: 30px;
margin-left: 6%;
}
.p2{
font-size: 52px;
margin-left: 6%;
color: rgb(167, 167, 167);
margin-right: 15%;
}
.p3{
font-size: 24px;
margin-left: 6%;
}
.back{
    background-color: black;
    margin: 40px;
}
.color{
    background-color: rgb(242, 232, 245);
}
.color2{
    background-color: rgb(249, 242, 239);
}
.color3{
    background-color: rgb(238, 248, 241);
}
@media screen and (max-width:768px){
    .column-2{
        display: flex;
        flex-wrap: wrap;
    }
    .izq{
        width: 100%;
    }
    .der{
        width: 100%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .column-4{
        width: 50%;
        background-color: black;
        color: white;
        font-size: 11px;
    }
    .margin{
        margin-left: 0%;
    }

    .margen{
        margin-left: 2%;
        margin-right: 2%;
    }
    .img1{
        margin-right: 20px;
        margin-left: 7%; 
        text-align: center;
    }
    .img2{
        margin-right: 20px;
        margin-left: 7%;
        
    }
    .espacio{
        height:450px;
    }
    .espacio2{
        height: 350px;
    }
    .img3{
        margin-right: 20px;
        margin-left: 7%;
    }
    .p1{
        font-size: 25px;
        margin-left: 6%;
        }
    .p2{
        font-size: 28px;
        margin-left: 4%;
        color: rgb(167, 167, 167);
        margin-right: 6%;
        }
    .p3{
        font-size: 20px;
        margin-left: 6%;
        }
    .mobile{
        margin-top: 50px;
        font-size: 22px;
    }
    .alt-titulo{
        height:400px;
    }
}